<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpinX - Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <header>
        <h1>SpinX Laundry Management</h1>
        <nav>
            <a href="/">Home</a>
            <a href="contact">Contact</a>
        </nav>
    </header>

    <main>
        <div class="login-box">
            <h2>Login</h2>
            <form method="post" th:action="@{/login}">
                <input type="email" name="email" placeholder="College Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Login</button>
            </form>
            <p style="margin-top: 10px;">
                New here?
                <a href="/register" style="color: #d40000; font-weight: bold;">Register now</a>
            </p>
        </div>
    </main>
</body>
</html>